{% extends 'base.html' %}
{% block title %}
    <title>Survey: {{ survey.title }}</title>
{% endblock %}
{% block content %}
    <div class="container">
        <legend>
            {{ survey.title }}
            <span class="float-right">
            {% if survey.is_open and survey.author == user.teacher %}
                <a class="btn btn-success" href="{% url 'update-survey' survey.pk %}"> Survey Status: Open </a>
            {% elif survey.author == user.teacher %}
                <a class="btn btn-secondary" href="{% url 'update-survey' survey.pk %}"> Suiz Status: Closed </a>
            {% endif %}
        </span><br>
            <h3>
                Subject: {{ survey.subject }}
            </h3>
            <small>
                Currently assigned to: {{ batches }}
                {% if responses %}
                     <a href="{% url 'download-excel' survey.pk %}"><i class="fas fa-file-download mr-2 ml-4"></i>Download Excel</a>
                {% endif %}
            </small>
        </legend>
        <hr>
        {% for question in questions %}
            <p>Question: {{ question.squestion }}</p>
            <hr>
        {% endfor %}
        <span class="align-left"><a class="btn btn-info" href="{% url 'add-survey' survey.pk %}">Reassign</a>
        </span>
        {% if survey.author == author %}
            {% if responses %}
                <a class="btn btn-danger" href="{% url 'delete-survey' survey.pk %}">Delete</a><br>
                <small>There are responses to this quiz, hence, the questions cannot be changed. Please consider
                    reassigning this quiz.
                </small>
            {% else %}
                <a class="btn btn-warning" href="{% url 'edit-survey' survey.pk survey.pk %}">Change Questions</a>
                <a class="btn btn-danger" href="{% url 'delete-survey' survey.pk %}">Delete</a><br>
            {% endif %}
            {% if responses %}
                <div class="row">
                    {% for ques in questions %}

                        <div class="col-sm-12 col-md-6">
                            <canvas id="chart-{{ forloop.counter0 }}"></canvas>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script>
        {% if responses %}
            {% for i in questions %}
                new Chart(document.getElementById("chart-{{ forloop.counter0 }}").getContext('2d'), {
                    type: 'bar',
                    data: {
                        labels: ["1", "2", "3", "4", "5"],
                        datasets: [{
                            label: '# of Votes',
                            data: [
                                {{ no_responses }}[{{ forloop.counter0 }}][0],
                                {{ no_responses }}[{{ forloop.counter0 }}][1],
                                {{ no_responses }}[{{ forloop.counter0 }}][2],
                                {{ no_responses }}[{{ forloop.counter0 }}][3],
                                {{ no_responses }}[{{ forloop.counter0 }}][4]
                            ],
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(64, 192, 12, 1)'
                            ],
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            {% endfor %}
        {% endif %}
        // function downloadImage(button, event, id) {
        //     button.href = document.getElementById('chart-'+id).toDataURL("image/png")
        // }
    </script>
{% endblock scripts %}
