{% autoescape off %}

    {% if user.is_teacher %}
    Hello, Prof. {{ user.first_name }} {{ user.last_name }},
    {% else %}
    Wassup! {{ user.first_name }},
    {% endif %}

    We have received a request to reset the password for the account: {{ user.get_username }}

    To initiate the password reset process for your  Terna Quiz App account follow the link below:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    If clicking you are unable to click the link above, please copy and paste the URL in a new browser
    window instead.

    {% if not user.is_teacher %}
    Hope you won't forget it this time ;)


    Your friendly neighbourhood,
    Terna Quiz App Team
    {% else %}
    Sincerely,
    Terna Quiz App Team
    {% endif %}
{% endautoescape %}
