{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
    <meta charset="UTF-8">
    <style>
        @font-face {
            font-family: Allura;
            font-weight: bold;
            font-style: italic;
            font-size: 200%;
        }

        div.a {
            text-align-all: center;
            text-align: center;
            display: table;
            margin-right: auto;
            margin-left: auto;
        }


        div.b {
            font-size: 180%;
        }

        div.c{
            font-size: 150%;
        }

    </style>
    <title>Download Response</title>
</head>
<body>
{% block content %}
    <div class="a">
        <h3 style="font-size: 300%">Terna Engineering College</h3>

        <h5 style="font-size: 200%">{{ quiz_response.quiz.title }} - {{ quiz_response.quiz.subject.name }}</h5>
    </div>
    <div class="b" >
        Name: {{ quiz_response.student.student.first_name }} {{ quiz_response.student.student.last_name }}<br>
        Batch: {{ quiz_response.student.batch }}<br>
        Score: {{ quiz_response.score }}<hr>
    </div>
    <div class="c">
        {% for response in ques_responses %}
            <p>Question: {{ response.question.question }}</p>
            <p>A: {{ response.question.option_a }}</p>
            <p>B: {{ response.question.option_b }}</p>
            <p>C: {{ response.question.option_c }}</p>
            <p>D: {{ response.question.option_d }}</p>
            <p>Your answer: {{ response.que_response.capitalize }}</p>
            <hr>
        {% endfor %}
    </div>
    <br>
    <br>
    <hr>
    <div class="a">
        <p style="color:darkblue; font-family: Allura, 'Times New Roman', sans-serif; font-size:600%">{{ quiz_response.student.student.first_name }} {{ quiz_response.student.student.last_name }}</p>
    </div>
{% endblock %}
</body>
</html>
