{% extends 'base.html' %}
{% block title %}
    <title>
    {{ quiz.title }}
    </title>
{% endblock %}
{% block content %}
    <div class="container mt-2 mb-4">
        <legend>
            {{ quiz.title }}
            <span class="float-right">
            {% if quiz.is_open and quiz.author == user.teacher %}
                <a class="btn btn-success" href="{% url 'update-quiz' quiz.pk %}"> Quiz Status: Open </a>
            {% elif quiz.author == user.teacher %}
                <a class="btn btn-dark" href="{% url 'update-quiz' quiz.pk %}"> Quiz Status: Closed </a>
            {% endif %}
        </span><br>
            <small>
                Subject: {{ quiz.subject }}
            </small>
            <br>
            <small>
                Currently assigned to: {{ batches }}
                {% if quiz.author == user.teacher %}
                    <a class="btn btn-secondary" href="{% url 'view-quiz-stats' quiz.pk %}">Details</a>
                <a href="{% url 'generate-excel' quiz.pk %}"><i class="fas fa-file-download mr-2 ml-4"></i>Download Excel</a>
                {% endif %}
            </small>
        </legend>
        <hr>
        {% for question in questions %}
            <p>Question: {{ question.question }}</p>
            <p>A: {{ question.option_a }}</p>
            <p>B: {{ question.option_b }}</p>
            <p>C: {{ question.option_c }}</p>
            <p>D: {{ question.option_d }}</p>
            <p>Correct Ans: {{ question.correct_ans }}</p>
            <hr>
        {% endfor %}
        <span class="align-left"><a class="btn btn-info" href="{% url 'add-quiz' quiz.pk %}">Reassign</a>
        </span>
        {% if quiz.author == user.teacher %}
            {% if responses %}
                <a class="btn btn-danger" href="{% url 'delete-quiz' quiz.pk %}">Delete</a><br>
                <small>There are responses to this quiz, hence, the questions cannot be changed. Please consider
                    reassigning this quiz.
                </small>
                <div class="row">
                    {% for i in questions %}
                        <div class="col-sm-12 col-md-6">
                            <canvas id="chart-{{ forloop.counter0 }}"></canvas>
                            <div class="row">
                                <a href="" download="{{ i.question }}.png" class="btn btn-success mr-auto ml-auto" id="btn-img-{{ forloop.counter0 }}" onclick="downloadImage(this, event, {{ forloop.counter0 }})">Download Image</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <a class="btn btn-warning" href="{% url 'edit-quiz' quiz.pk quiz.pk %}">Change Questions</a>
                <a class="btn btn-danger" href="{% url 'delete-quiz' quiz.pk %}">Delete</a><br>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script>
        {% for i in questions %}
            new Chart(document.getElementById("chart-{{ forloop.counter0 }}").getContext('2d'), {
                type: 'bar',
                data: {
                    labels: ["{{ i.option_a }}", "{{ i.option_b }}", "{{ i.option_c }}", "{{ i.option_d }}"],
                    datasets: [{
                        label: '# of Votes',
                        data: [
                                {{ no_of_responses }}[{{ forloop.counter0 }}][0],
                                {{ no_of_responses }}[{{ forloop.counter0 }}][1],
                                {{ no_of_responses }}[{{ forloop.counter0 }}][2],
                                {{ no_of_responses }}[{{ forloop.counter0 }}][3]
                        ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        {% endfor %}

    function downloadImage(button, event, id) {
        button.href = document.getElementById('chart-'+id).toDataURL("image/png")
    }
    </script>
{% endblock scripts %}
