{% extends 'base.html' %}
{% block content %}
    <div class="xyz">
        {% if quiz_response and quiz_response.student == user.student %}
            <h3>{{ quiz_response.quiz.title }} - Prof. {{ quiz_response.quiz.author.teacher.first_name }}</h3>
            <h4 style="text-underline: black">Your Score: {{ quiz_response.score }}</h4>
            <hr>
            {% for response in ques_responses %}
                <p>Question: {{ response.question.question }}</p>
                <p>A: {{ response.question.option_a }}</p>
                <p>B: {{ response.question.option_b }}</p>
                <p>C: {{ response.question.option_c }}</p>
                <p>D: {{ response.question.option_d }}</p>
                <p>Your answer: {{ response.que_response.capitalize }}</p>
            {% endfor %}
            <a class="btn btn-success" href="{% url 'download-response' quiz_response.pk %}">Download this quiz</a>
        {% else %}
            <h1>Sorry, we couldn't find your response to this quiz.</h1>
            <a class="btn btn-success" href="{% url 'student-home' user.pk %}">Take me back</a>
        {% endif %}
    </div>
{% endblock %}
