{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Login</title>
{% endblock %}
{% block content %}
    <div class="content-section col-md-8 col-sm-12 offset-md-2 mt-3 mb-3">
        {% if messages %}
            {% for message in messages %}

                <div class="alert alert-primary">
                    <strong> {{ message }}  </strong>
                </div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                No Account yet ? <a class="ml-2 mr-2" href='{% url 'register-teacher' %}'>Register as a Teacher</a> OR
                <a class="ml-2 mr-2" href='{% url 'register-student' %}'>Register as a Student</a>
            </small>
        </div>
    </div>
{% endblock content %}
